{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{% block body %}

<a href="{% url 'home' %}">voltar</a>

<h1>Login Here</h1>

<form action="{% url 'login' %}" method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login" />
</form>

<ul>
    <li><a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={% url 'cadastro' %}">Signin With Linkedin</a></li>
    <li><a href="{% url 'cadastro' %}">Cadastre-se</a></li>
</ul>

{% endblock %}